@import url('./variables.css');
@import url('./general.css');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header {
    background-color: var(--color-amarillo);
    font-size: 12px;
    padding-bottom: 20px;
}

.header-barra {
    background-color: var(--color-gris-claro);
    color: var(--color-gris-oscuro);
    padding: 3px;
    border: solid 1px var(--color-gris-oscuro);
    align-items: left;
    display:inline-block;
    margin: 0 0 2px 15px;
}

.header-logo {
    width: 50%;
    margin-inline: 10px;
    margin-bottom: 20px;
    padding-top:15px;
}

.header-cabeza {
    text-align: center;
    display:block;
}

.header-lista ul{
    margin-top: 10px;
    margin-bottom: 15px;
}

.burger-menu {
    background-color: var(--color-azul);
    color: var(--color-gris-claro);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    width: 24px;
    text-align: center;
}

.header-lista{
    display: inline-block;
    justify-content: left;
    width: 100%;
}

.header-lista nav ul{
    list-style: none;
    padding: 0;
}

.header-lista a{
    text-decoration: none;
}

main {
    background-color: var(--color-gris-claro);
}

footer {
    background-color: #ffff;
    text-align: center;
    display:block;
    padding: 50px 50px 0;
}

.footer-section {
    margin-bottom: 50px;
}

.footer-section i{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color-azul)
}