/* Paleta de colores */

:root{
    --color-amarillo : #EAC926;
    --color-azul :  #03264C;
    --color-celeste :  #1259c3;
    --color-gris-oscuro : #666;
    --color-gris-claro : #ebebeb;
    --color-verde : #39b54a;
};

/* Tipografía */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  };

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  };

  /* Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */