<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd1bd77e23.js" crossorigin="anonymous"></script>
    <link href="styles/styles.css" rel="stylesheet">
</head>
<body>
    <header class = "header">
        <section class = "header--inicio">
            <div class= "header--inicio-logo">
                <img src= "/images/logo-mercado-liebre.svg">
            </div>
            <div class = "header--inicio-barra">
                <span id = "barra-de-busqueda">Buscar productos, marcas...</span> 
            </div>
            <div class = "header--inicio-lupa">
                <i class="fa-solid fa-magnifying-glass"></i> 
            </div>
            <div class="header--inicio-line">
                <a><i class="fa-solid fa-mug-hot"></i> Comprá en cuotas y sin tarjeta de crédito</a>
            </div>
        </section>
        <section class="header--nav">
            <nav>
                <ul type = "none">
                    <li><a href="#recomendado">¡Productos que te podrían gustar!</a></li>
                    <li><a href="#ofertas">Ofertas Imperdibles</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul type = "none">
                    <li><a href="#">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                    <li><a href="#">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a> <i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </section>
        <img src="/images/img-home-banner.jpg">
    </header>
    <br />
    <main>
        <section>
            <span id="recomendado"><b>Basado en tu última visita</b></span>
            <hr />
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div>
                    $6.770
                    <br>
                    40% OFF
                    <br>
                    <b>Cafetera Moulinex</b>
                </div>
            </article>
            <hr />
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div>
                    $230.000
                    <br>
                    20% OFF
                    <br>
                    <b>MacBook Pro 2019</b>
                </div>
            </article>
            <hr />
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div>
                    $70.500
                    <br>
                    10% OFF
                    <br>
                    <b>Samsung Galaxy S10</b>
                </div>
            </article>
            <hr />
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div>
                    $23.200
                    <br>
                    5% OFF
                    <br>
                    <b>SmartTv Samsung 43"</b>
                </div>
            </article>
        </section>
        <section></section>
            <span id="ofertas"><b>Ofertas Imperdibles</b></span>
            <hr />
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <div>
                    $6.770
                    <br>
                    40% OFF
                    <br>
                    <b>Cafetera Moulinex</b>
                </div>
            </article>
            <hr />
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <div>
                    $230.000
                    <br>
                    20% OFF
                    <br>
                    <b>MacBook Pro 2019</b>
                </div>
            </article>
            <hr />
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div>
                    $70.500
                    <br>
                    10% OFF
                    <br>
                    <b>Samsung Galaxy S10</b>
                </div>
            </article>
            <hr />
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <div>
                    $23.200
                    <br>
                    5% OFF
                    <br>
                    <b>SmartTv Samsung 43"</b>
                </div>
            </article>
        </section>
    </main>
    <br />
    <hr />
    <br />
    <footer>
        <header> 
            <span><b>¿Que beneficios tenés en MercadoLiebre?</b></span>
        </header>
        <main>
            <section>
                <span><b>Pagá con tarjeta o en efectivo</b></span>
                <div>
                    Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </div>
            </section>
            <br />
            <section>
                <span><b>Envío gratis desde los $ 2.500</b></span>
                <div>
                    Solo por estar registrado en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </div>
            </section>
            <br />
            <section>
                <span><b>Seguridad de principio a fin</b></span>
                <div>
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@
                </div>
            </section>
            <br />
            <section>
                <span><b>Seguridad de principio a fin</b></span>
                <div>
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@
                </div>
            </section>
        </main>
        <br />
        <footer>
            <section>
                <span><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></span>
            </section>
        </footer>
    </footer>    
</body>
</html>